<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.PNG"
             class="img-responsive center-block"
             style="max-width:700px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Diego Allies</h3>
      </div>

      <div class="text-center">@Diegoallies</div>
      <div class="text-center">
        <a href="http://diegoallies-portfolio.vercel.app">Portfolio</a>
      </div>
    </div>
  </div>
</div>
