<div class="card-body">
  <div class="card">
    <div class="card-header">
      {{ pageTitle }}
    </div>
    <div class="card-body">
      <div class="row">
        <div *ngFor="let product of products" class="col-md-4">
          <div class="card thatCard">
            <a [routerLink]="['/products', product.productId]">
              <img
                [src]="product?.imageUrl"
                [alt]="product?.productName"
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">{{ product?.productName }}</h5>
                <p class="card-text">{{ product?.description }}</p>
              </div>
            </a>
            <div class="card-footer">
              <small class="text-muted">{{
                product?.price | currency : "USD" : "symbol" : "1.2-2"
              }}</small>
              <button
                class="btn btnn btn-sm btn-outline-secondary"
                (click)="addToCart(product)"
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-footer">
  <!-- <button class="btn btn-outline-secondary" style="width: 80px" (click)="onBack()">
    <i class="fa fa-chevron-left"></i> Back
  </button> -->
</div>
