<div class="all">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<nav class="all-dta">
  <ul class="myNav">
    <li routerLink="/products">
      <i class="fa fa-home fa-3x" aria-hidden="true"></i>
    </li>
    <li routerLink="/cart">
      <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
    </li>
    <li routerLink="/profile">
      <i class="fa fa-user fa-3x" aria-hidden="true"></i>
    </li>
    <li routerLink="/welcome">
      <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
    </li>
  </ul>
</nav>

