<div class="login-container">
 
  <form (ngSubmit)="onSubmit()" class="login-form">
    <h2>Login</h2>
    <br>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" name="username" [(ngModel)]="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" name="password" [(ngModel)]="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <div class="register-link" routerLink="/register">
      <span>Not registered?</span>
      <a routerLink="/register">Register now</a>
    </div>
  </form>
</div>
