<h1 class="cart-header headerr">Cart</h1>

<table class="table cart-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartItems">
      <td>{{ item.productName }}</td>
      <td>{{ item.price | currency }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ getItemTotalPrice(item) | currency }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3"><h2>Total</h2></td>
      <th>{{ getTotal() | currency }}</th>
    </tr>
  </tfoot>
</table>


<div class="btns">
  <button class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
  <a routerLink="/products" class="btn btn-primary">Continue shopping</a>
</div>
